@media screen and (min-width: 48em){
  #menu-bar {
    display: none;
  }

  li {
    display: inline;
  }
}

@media screen and (max-width: 47.9em) {
  li {
    display: block;
  }
  
  ul > li {
    text-align: center;
  }
  
}
