@media screen and (min-width: 640.1px){
  #menu-bar {
    display: none;
  }

  li {
    display: inline;
  }
}

@media screen and (max-width: 640px) {
  li {
    /* display: block; */
    display: none;
  }
  
  ul > li {
    text-align: center;
  }
  nav:hover li {
    display: block;
  }  
}
